@font-face {
	font-family:"LiHei"; 
	src: url(LiHei.ttf);
}

body {
	font-size: 20px;
	letter-spacing:5px;
	font-family: 'Milonga', cursive;

	margin: 0;
	padding: 0:
	background-size: cover;
	background: #FFFFFF url(images/back.jpg) center center fixed repeat;
	-moz-background-size: cover;
}

a:hover {
	color: white;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

.ttfont{
     color:#3cb371;
	 font-weight:bolder;
	 text-shadow:5px 5px 5px #b0c4de;

 }

.slogon {
	text-align: center;
	font-size: 60px;	
}

.center {
	position: absolute;
	top: 30%;
	bottom: 20%;
	left: 0;
	right: 0;
	width: 100%;
	height: 200%;
	
}

.introcenter{
	position: absolute;
	top: 10%;
	bottom: 20%;
	left: 0;
	right: 0;
	width: 100%;
	height: 200%;
	
}

.signcenter{	
	position: absolute;
	top: 20%;
	left: 10%;
	right: 0;
	width: 80%;
	height: 80%;
}

.moneycenter{	
	position: absolute;
	top: 10%;
	bottom: 20%;
	left: 0;
	right: 0;
	width: 100%;
	height:100% ;
}

.signNowCenter{
   position:absolute;
   font-size:50px;
   top:40%;
   bottom:10%;
   left:45%;
   width:55%;
   height:10%; 
}

.bottomCenter{
  position:absolute;
  top:5px;
  bottom:5px;
  left:0;
  right:0;
  width:100%;
  height:30%;
}

.titlebackground{
	 background-attachment:fixed;

	 background-repeat:repeat;
}


.green {
	background-color: #5A8F31 ;
	color: white;
}

.white {
	background-color: #FFFFFF;
	color:	#3F4850;
}

.gray {
	background-color: #F2F2F2;
	color: #3F4850;
}

.bigblock {
	position: relative;
	width: 100%;
	min-height: 1200px;
	height: 100%;
}

.littleblock {
	position: relative;
	width: 100%;
	min-height: 500px;
	height: 100%;
}

.tblock{
	position: relative;
	width: 100%;
	height: 15%;
	padding-top:15px;
    padding-left:15px;
    padding-right:30px;
    padding-bottom:10px;
}

.bottomblock{
	letter-spacing:1px;
	background-color: #5A8F31;
	width: 100%;
	height:250px;
	position:absolute;
	padding-top:50px;
    padding-left:15px;
    padding-right:15px;
}

.seventhblock{
	position: relative;
	width: 100%;
	min-height: 100px;
	height: 70%;
}

